:root {
	--background-color-dark: #0a192f;
	--background-color-grey: rgb(61, 60, 60);
	--text-color: #8892b0;
	--text-light-color: rgb(204, 214, 246);
	--text-green-color: #64ffda;
	--text-extra-light-color: #ccd6f6;
}

* {
	box-sizing: border-box;
	z-index: 1;
}

html,
body {
	margin: 0;
	height: 100%;
	background-color: var(--background-color-dark);
	color: var(--text-color);
	font-family: 'Smooch Sans', sans-serif;
}

.none {
	display: none !important;
}

canvas {
	cursor: not-allowed;
	pointer-events: none;
	z-index: 0;
}

.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .50;
}

.grey-bg {
	background-color: var(--background-color-grey);
}

.green {
	color: var(--text-green-color);
}

/* NAV */
#nav {
	height: 15%;
	display: flex;
	align-items: center;
	padding-top: 2.5%;
	color: var(--text-light-color);
}
#nav-home-container {
	flex: 3;
	position: relative;
	height: 100%;
}

#code-svg {
	width: 48px;
	height: 48px;
	/* position: absolute;
	z-index: 0;
	left: 0;
	top: 100; */
}
#code-svg path {
	fill: var(--text-green-color);
}

#nav-home-container a {
	position: absolute;
	left: 5%;
	text-decoration: none;
	color: inherit;
	font-family: 'Cedarville Cursive', cursive;
	font-size: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#nav-items {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 5%;
}
#nav-items a {
	text-decoration: none;
	color: inherit;
}
#nav-home-container a:hover,
#nav-items a:hover {
	color: var(--text-green-color);
	cursor: pointer;
}

/* MAIN */
main {
	margin: 0 auto;
	width: 80%;
}

/* BIO */
#intro-section {
	display: flex;
	justify-content: center;
	align-items: baseline;
}
#intro-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
#intro-header hr {
	color: var(--text-color);
	width: 100%;
}
#intro-header h2 {
	font-size: clamp(40px, 8vw, 80px);
	margin: 0;
}
#intro-start {
	color: var(--text-green-color);
	font-size: 24px;
	font-weight: 400;
}
#intro-name {
	color: var(--text-extra-light-color);
}
.intro-pars {
	width: 33%;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	padding: 0.75rem 1.5rem;
	border-radius: 2px;
}
#intro-img-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#intro-img {
	width: 288px;
	height: 288px;
	box-shadow: 2px 2px 2px var(--text-color);
	border-radius: 5px;
}

/* BIO */
#bio-pars-container p {
	padding: 0.75rem 1.5rem;
	z-index: 2;
	position: relative;
}

/* PROJECTS */
#projects-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#projects-section h1 {
	text-align: center;
}

#card-container {
	width: 80%;
	display: flex;
	flex: row;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

#leftArrow {
	transform: scale(-1, 1);
	transform-origin: center;
}

#rightArrow {
}

#leftArrow path,
#rightArrow path {
	fill: var(--text-green-color);
}

#leftArrow:hover,
#leftArrow path:hover,
#rightArrow:hover,
#rightArrow path:hover {
	cursor: pointer;
	fill: var(--text-extra-light-color);
}

.project-card {
	background-color: var(--background-color-grey);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 64px 32px;
	width: 400px;
	min-height: 350px;
	border-radius: 8px;
	box-shadow: 12px 12px 12px #666;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	position: relative;
	z-index: 2;
	margin: 0 5% 0 5%;
}

#footer {
	position: fixed;
	bottom: 2.5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* MEDIA QUERIES */
/* TABLET and MOBILE */
@media (max-width: 768px) {
	#home-link {
		font-size: 32px !important;
	}
	#nav-items {
		font-size: 14px;
		display: flex;
		flex-direction: column;
	}
	#intro-header p {
		font-size: 16px;
	}
	#intro-name,
	#intro-header h2 {
		font-size: 24px;
	}
	.intro-pars {
		width: 50% !important;
	}
	#footer {
		bottom: 0;
	}
	.arrowIcons {
		width: 24px;
		height: 24px;
	}
	ol {
		margin-block-start: 0 !important;
		padding-inline-start: 0 !important;
	}
	#footer {
		display: none;
	}
}
